<div class="container">
    <h1>
    Golden Retriever
    </h1>
    
    <p>
        Famoso por su pelaje dorado y brillante de longitud media, este Retriever grande tiene una expresión amistosa y una simetría perfecta. Se desplaza con un pasos largos y fuertes en un movimiento fluido y soberbio. Los machos adultos miden entre 56 y 61 cm y pesan de 30 a 34 kg. Las hembras adultas miden entre 51 y 56 cm y pesan de 27 a 32 kg.
    </p>
    
    <%= image_tag("golden.jpg", :alt => "perrito-golden-retriever") %>


</div>

