<div class="container">
    <h1>
    poodle
    </h1>
    
    
    <p>
    Los poodle son originarios de Alemania y comenzaron siendo perros de caza. Sí, con su rápida inteligencia y ganas de complacer, derivaron de perros que viajaban con tropas y circos.
     
    
    Gracias a la aristocracia en Francia, lograron verlos como perros elegantes y fáciles de amar. Son razas con clase y con una personalidad encantadora. 
    
    Está raza se caracteriza mucho por participar en concursos de belleza e incluso por concursos de obstáculos por lo rápidos y ágiles que son.
    </p>
    
    
    <%= image_tag("po.jpg", :alt => "perrito-poodle") %>


</div>

